= form_for @shoot do |f|
  - if @shoot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shoot.errors.count, "error")} prohibited this shoot from being saved:"
      %ul
        - @shoot.errors.full_messages.each do |message|
          %li= message
  %ul.inputs
    %li
      = f.label :slug
      = f.text_field :slug, id: :shoot_slug
    %li
      = f.label :assignment_description
      = f.text_area :assignment_description, id: :assignment_description, rows: 10, cols: 60
    %li
      = f.label :start
      = f.datetime_field :start, id: :start
    %li
      = f.label :end
      = f.datetime_field :end, id: :end
    %li
      = f.label :location
      = f.text_field :location, id: :location
    %li
      = f.label :contact_name
      = f.text_field :contact_name, id: :contact_name
    %li
      = f.label :contact_phone
      = f.text_field :contact_phone, id: :contact_phone
    %li
      = f.label :desk
      = f.text_field :desk, id: :desk
    %li
      = f.label :deadline
      = f.datetime_field :deadline, id: :deadline
    %li.actions
      = f.submit 'Save'
      = link_to 'Destroy', @shoot, method: :delete, data: { confirm: 'Are you sure?' }
