%p#notice= notice
%article
  %ul.show
    %li
      %h3= @shoot.slug
    %li.index Assignment description
    %li= @shoot.assignment_description
    %li.index Start time
    %li= @shoot.start
    %li.index End time
    %li= @shoot.end
    %li.index Location
    %li= @shoot.location
    %li.index Contact information
    %li= @shoot.contact_name
    %li= @shoot.contact_phone
    %li.index Desk
    %li= @shoot.desk
    %li.index Deadline
    %li= @shoot.deadline
    %li.index Assigned to
    %li= @shoot.user_assigned

    %ul.controls
      %li= link_to 'Edit', edit_shoot_path(@shoot)
      %li= link_to 'Destroy', @shoot, method: :delete, data: { confirm: 'are you sure?' }

%p.button= link_to 'Add to calendar', ics_export_path(@shoot)

%p.back= link_to 'Back', shoots_path
