%p#notice= notice
%article 
  %ul.showview
    %li.show Slug
    %li= @shoot.slug
    %li.show Assignment description
    %li= @shoot.assignment_description
    %li.show Start time
    %li= @shoot.start
    %li.show End time
    %li= @shoot.end
    %li.show Location
    %li= @shoot.location
    %li.show Contact information
    %li= @shoot.contact_name
    %li= @shoot.contact_phone
    %li.show Desk
    %li= @shoot.desk
    %li.show Deadline
    %li= @shoot.deadline
    %li.show Assigned to
    %li= @shoot.user_assigned

    %ul.controls
      %li= link_to 'Edit', edit_shoot_path(@shoot)
      %li= link_to 'Destroy', @shoot, method: :delete, data: { confirm: 'are you sure?' }

%p.button= link_to 'Add to calendar', ics_export_path(@shoot)

%p.back= link_to 'Back', shoots_path
