%p#notice= notice
%article
  %ul.showview
    %li.show Name
    %li= @user.name
    %li.show Email
    %li= @user.email
    %li.show Phone number
    %li= @user.phone_number

    %ul.controls
      %li= link_to 'Edit', edit_user_path(@user)
      %li= link_to 'Destroy', @user, method: :delete, data: { confirm: 'are you sure?' }

%p.back= link_to 'Back', users_path
