!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %title PicPath
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %body
      %header#header
        %h1 PICPATH

      -# %ul.horznav
        -# %li= "#{current_user.name}"
        -# %li= link_to "Log out", logout_url
    %div.container
      %div.navcontainer
        %nav.nav.flex-column
          %button.navbar-toggler{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggleExternalContent", "data-toggle" => "collapse", type: "button"}
            %span.fa.fa-bars.fa-2x.fa-fw
          = link_to shoots_path do
            %span.fa.fa-home.fa-2x.fa-fw
            Home
          = link_to shoots_path do
            %span.fa.fa-camera.fa-2x.fa-fw
            My Assignments
          = link_to shoots_path do
            %span.fa.fa-calendar.fa-2x.fa-fw
            Calendar
          = link_to users_path do
            %span.fa.fa-user.fa-2x.fa-fw
            Users
          = link_to shoots_path do
            %span.fa.fa-gear.fa-2x.fa-fw
            Settings
      %div.yieldcontainer
        = yield
