!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %title PicPath
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag "/open-iconic/font/css/open-iconic-bootstrap.css"
    %body
      %header#header
        %h1 PICPATH

      %ul.horznav
        -# %li= "#{current_user.name}"
        -# %li= link_to "Log out", logout_url

      %ul.vertnav
        %li= fa_icon("bars")
        = link_to shoots_path do
          %span.fa.fa-home
          Home
        = link_to shoots_path do
          %span.fa.fa-camera
          My Assignments
        = link_to shoots_path do
          %span.fa.fa-calendar
          Calendar
        = link_to users_path do
          %span.fa.fa-user
          Users
        = link_to shoots_path do
          %span.fa.fa-gear
          Settings
      = yield
