!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %title PicPath
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag "/open-iconic/font/css/open-iconic-bootstrap.css"
    %body
      %header#header
        %h1 PICPATH

      %ul.horznav
        -# %li= "#{current_user.name}"
        -# %li= link_to "Log out", logout_url

      %ul.vertnav
        %i.oi.oi-menu
        %img(src="/open-iconic/svg/menu.svg")
        %li= link_to_unless_current "Home", shoots_path
        %li My Assignments
        %li Calendar
        %li= link_to_unless_current "Users", users_path
        %li Settings
      = yield
